<ul>
    <% @test.questions.each do |question| %>
      <li>
        <%= question.body %>
        <%= link_to 'Show',   test_question_path(@test, question) %>
        <%= link_to 'Edit',   edit_test_question_path(@test, question) %>
        <%= link_to 'Delete', test_question_path(@test, question), 
                              method: :delete,
                              data: { confirm: 'Are you sure?'} %> 
      </li>
    <% end %>
</ul>