<tr>
  <td class="align-middle"> <%= badge.title %> </td>

  <td class="align-middle"> <%= badge.file_name %> </td>

  <td class="align-middle"> <%= badge.rule_name %> </td>

  <td class="align-middle"> <%= badge.rule_value %> </td>
  
</tr>
