<footer id="footer">

  <p>
    Test Guru is web application that allows users check their knowledge by passing tests.
    Every user can create his own test and let others pass it. Result of each test can be
    published in social networks.
  </p>

  <p> <%= current_year %>,
      Kirill Sazonov,
      <%= github_url('kirster','test-guru'){'Test Guru app'} %> 
  </p>

  <p>
    <%= link_to 'Educational project of Thinkentica online-school',
                'http://thinknetica.com/', target: "_blank"  %> 
  </p>

</footer>