<p> <%= t('.greeting', email: @resource.email)%> </p>

<% if @resource.try(:unconfirmed_email?) %>
  <p> <%= t('.changed', email: @resource.unconfirmed_email)%> </p>
<% else %>
  <p> <%= t('.already_changed', email: @resource.unconfirmed_email)%> </p>
<% end %>
