<h1> Edit Test </h1>

<%= render 'form' %>

<p> <%= link_to 'Index',  admin_tests_path %> </p>
<p> <%= link_to 'New',    new_admin_test_path %> </p>
<p> <%= link_to 'Show',   admin_test_path(@test) %> </p>